<div class="page-buy">
    <div class="mui-content mui-content-bottom">
        <div class="mui-bar mui-bar-nav">
            <h5 class="mui-title">
                预订
            </h5>
            <a class="mui-icon mui-icon-arrowleft" href="#home"></a>
        </div>

        <div class="cue-block">
            <p><span class="font-style03">温馨提示：</span>送水区域指定嘉兴南湖区，送水时间指定8:30-17:00</p>
        </div>

        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right">
                    <div class="order-deliver-item">
                        <label>收货人</label>
                        <p>小王  1278561233</p>
                    </div>
                    <div class="order-deliver-item">
                        <label>收货地址</label>
                        <p class="mui-ellipsis-2">嘉兴市南湖区长水路信心小区5幢505室嘉兴市南湖区长水路信心小区5幢505室</p>
                    </div>
                </a>
            </li>
        </ul>

        <ul class="mui-table-view order-m-top">
            <li class="mui-table-view-cell mui-media">
                <img class="mui-media-object mui-pull-left" src="http://dev.dcloud.net.cn/mui/assets/img/shuijiao.jpg">
                <div class="mui-media-body">
                    <h4>农夫山泉大瓶装1.5L容量</h4>
                    <p class="money-font">￥7.00</p>
                    <div class="mui-numbox" >
                        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                        <input class="mui-input-numbox" type="number">
                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                    </div>
                </div>
            </li>

            <li class="mui-table-view-cell mui-media">
                <img class="mui-media-object mui-pull-left" src="http://dev.dcloud.net.cn/mui/assets/img/shuijiao.jpg">
                <div class="mui-media-body">
                    <h4>农夫山泉大瓶装1.5L容量</h4>
                    <p class="money-font">￥7.00</p>
                    <div class="mui-numbox">
                        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                        <input class="mui-input-numbox" type="number">
                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                    </div>
                </div>
            </li>

            <li class="mui-table-view-cell mui-media">
                <img class="mui-media-object mui-pull-left" src="http://dev.dcloud.net.cn/mui/assets/img/shuijiao.jpg">
                <div class="mui-media-body">
                    <h4>农夫山泉大瓶装1.5L容量</h4>
                    <p class="money-font">￥7.00</p>
                    <div class="mui-numbox">
                        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                        <input class="mui-input-numbox" type="number">
                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                    </div>
                </div>
            </li>

            <li class="mui-table-view-cell mui-media">
                <img class="mui-media-object mui-pull-left" src="http://dev.dcloud.net.cn/mui/assets/img/shuijiao.jpg">
                <div class="mui-media-body">
                    <h4>农夫山泉大瓶装1.5L容量</h4>
                    <p class="money-font">￥7.00</p>
                    <div class="mui-numbox">
                        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                        <input class="mui-input-numbox" type="number">
                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                    </div>
                </div>
            </li>

            <li class="mui-table-view-cell mui-media">
                <img class="mui-media-object mui-pull-left" src="http://dev.dcloud.net.cn/mui/assets/img/shuijiao.jpg">
                <div class="mui-media-body">
                    <h4>农夫山泉大瓶装1.5L容量</h4>
                    <p class="money-font">￥7.00</p>
                    <div class="mui-numbox">
                        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                        <input class="mui-input-numbox" type="number">
                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                    </div>
                </div>
            </li>

            <li class="mui-table-view-cell mui-media">
                <img class="mui-media-object mui-pull-left" src="http://dev.dcloud.net.cn/mui/assets/img/shuijiao.jpg">
                <div class="mui-media-body">
                    <h4>农夫山泉大瓶装1.5L容量</h4>
                    <p class="money-font">￥7.00</p>
                    <div class="mui-numbox">
                        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                        <input class="mui-input-numbox" type="number">
                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                    </div>
                </div>
            </li>

        </ul>

    </div>

    <div class="mui-button-row order-fixed-pay">
        <p class="pay-info">合计：<span class="font-style04">￥70.00</span></p>
        <button class="mui-btn f-right shoping-fix">在线预订</button>
    </div>
</div>