<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item" v-class="mui-active:target=='home'" href="#home">
        <span class="mui-icon iconfont icon-bottom-nav-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" v-class="mui-active:target=='order'" href="#order">
        <span class="mui-icon iconfont icon-bottom-nav-order"></span>
        <span class="mui-tab-label">我的订单</span>
    </a>
    <a class="mui-tab-item" v-class="mui-active:target=='config'" href="#config">
        <span class="mui-icon iconfont icon-bottom-nav-center"></span>
        <span class="mui-tab-label">个人中心</span>
    </a>
</nav>
