<div class="page-home">
    <div class="mui-content mui-content-bottom">
        <div id="slider" class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#"><img src="/static/images/banner.png"></a>
                </div>
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#"><img src="/static/images/banner.png"></a>
                </div>
            </div>
        </div>
        <div v-repeat="g in goods" class="index-shoping-block">
            <img v-attr="src:'./static/images/'+g.pic" style="width: 100%">
            <div class="shoping-content">
                <a href="#buy" class="mui-btn f-right shoping-fix">在线预订</a>
                <h5>{{g.name}}<span class="font-style02">￥{{g.price}}/桶</span></h5>
                <span class="shoping-info-L">{{g.des}}</span>
            </div>
        </div>


    </div>

    <c-nav target="{{currentView}}"></c-nav>

</div>