<div class="page-home">
    <div class="mui-content mui-content-bottom">
        <div id="slider" class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#"><img src="/static/images/banner.png"></a>
                </div>
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#"><img src="/static/images/banner.png"></a>
                </div>
            </div>
        </div>
        <div class="index-shoping-block">
            <img src="/static/images/bl.jpg" style="width: 100%">
            <div class="shoping-content">
                <a href="#buy" class="mui-btn f-right shoping-fix">在线预订</a>
                <h5>纯净水：<span class="font-style02">￥10.0/桶</span></h5>
                <span class="shoping-info-L">纯天然冰露桶装水5L容量</span>
            </div>
        </div>

        <div class="index-shoping-block">
            <img src="/static/images/nfsq.jpg" style="width: 100%">
            <div class="shoping-content">
                <a href="#buy" class="mui-btn f-right shoping-fix">在线预订</a>
                <h5>天然水：<span class="font-style02">￥12.0/桶</span></h5>
                <span class="shoping-info-L">纯天然冰露桶装水5L容量</span>
            </div>
        </div>

    </div>

    <c-nav target="{{currentView}}"></c-nav>

</div>